{% extends 'home.html' %}

{% block content %}

<div class="container-fluid">

      <div class="row" id="msg">

        {% if messages %}
  
          {% for message in messages %}
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
            </div>

          {% endfor %}

        {% endif %}

      </div>

</div>

<div class="container">

    <div class="col-lg-4">

    </div>
    
    <div class="col-lg-4">

        <div class="container-fluid">
   
        </div><br><br><br><br><br><br><br><br>

        <div class="container-fluid" style="background-color: springgreen; box-shadow: 5px 5px 7px 7px grey; border-radius: 4px;">
            {% if form %}

            <div class="container-fluid">
                <h3 style="text-align: center;"><strong>Reset Password</strong></h3>
            </div><br>

            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary pull-right">Reset</button><br>
            </form><br><br>

            {% else %}

            <div class="container-fluid">
                <h3 style="text-align: center;"><strong>This link is no longer active/invalid.</strong></h3>
            </div><br>

            {% endif %}

        </div>

    </div> 

    <div class="col-lg-4">

    </div>

       
</div>

<script>
    setTimeout(function(){
        if ($('#msg').length > 0){
            $('#msg').remove();
        }
    }, 5000)
</script>


{% endblock %}