{% extends 'home.html' %}

{% block content %}

<div class="container">

    <div class="col-lg-4">

    </div>
    
    <div class="col-lg-4">

        <div class="container-fluid">
   
        </div><br><br><br><br><br><br><br><br>

        <div class="container-fluid" style="background-color: springgreen; box-shadow: 5px 5px 7px 7px grey; border-radius: 4px;">
            
            <div class="container-fluid">
                <h3 style="text-align: center;"><strong>Reset Password</strong></h3>
            </div><br>

            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <a class="btn btn-danger" href="{% url 'user-signin-path' %}">Cancel</a>
                <button type="submit" class="btn btn-primary pull-right">Send Mail</button><br>
            </form><br><br>

        </div>

    </div> 

    <div class="col-lg-4">

    </div>

       
</div>


{% endblock %}